<!DOCTYPE html>
<html>
    <head>
        <title>Week7 Express Todo List</title>
    </head>

    <body>
        <h1>Week7 Express Todo List</h1>
        <form method="post" action="/addtask">
            <label>Enter Todo Items</label><br>
            <input type="text" name="item" placeholder="Enter first task" required>
            <input type="submit" value="Add Task">
        </form>
		<form> 
			<input type="text" name="dropItem" id="removeTask" placodeholder="Drop a task">
			<input type="submit" value="Drop Task">
		</form>
		<h1>Taks List: </h1>
		<% for(var i = 0; i < complete.length; i++){ %>
      		<li><%= complete[i] %> </li>
		<% } %>	
		<div id='todo_list'>
			<ul>
			</ul>
		</div>
		<script src="static/node_modules/jquery/dist/jquery.min.js">
		<script src="static/services.js"></script>
	</body>
</html>

